.faq-content-container {
    width: 100%;
    padding: 1vh 0;
    .faq-content-name {
        margin: 0 0 .5vh;
        text-align: center;
        font-size: 2vh;
    }
    .btn-link {
        font-size: 1.9vh;
        margin: 1vh;
        font-weight: 300;
        color: #1cb39b;
        text-align: start;
        text-decoration: none;
    }
    .btn-link:focus {
        color: #fd6e72;
    }
    .btn-link:hover {
        color: #fd6e72;
        transition: color .1s ease-out;
    }
}