.faq-page-container {
    min-height: 98.8vh;
    width: 100%;
    text-align: center;
    padding: 4vh 0;
    display: flex;
    flex-direction: column;
    .page-header {
        margin: 0 0 2.4vh;
        text-align: center;
        font-size: 2.4vh;
    }
}