.faq-content-container {
    width: 100%;
    min-height: 98.8vh;
    text-align: center;
    padding: 4vh 0;
    .faq-content-name {
        margin: 0 0 4vh;
        text-align: center;
        font-size: 2.4vh;
    }
}