.faq-menu-container {
    padding: 0 0;
    padding: 2vh 2vw;
    .item-icon {
        display: flex;
    }
    .btn-link {
        font-size: 1.6vh;
        font-weight: 400;
        color: #464646;
        text-align: start;
        text-decoration: none;
    }
    .btn-link:hover {
        color: #fd6e72;
        transition: color .1s ease-out;
    }
    .card-body,
    .card-body a {
        font-size: 1.4vh;
        color: #fd6e72;
        padding: 1.2vh;
    }
    .card-body a {
        display: flex;
        flex-direction: column;
    }
    .faq-sup-card {
        margin: 0px;
        padding: 0px;
    }
}