.doc-menu-item-container {
    margin: 1vh 0;
    padding: 0 0;
    .btn-link {
        font-size: 1.6vh;
        font-weight: 400;
        color: #464646;
        text-align: start;
        text-decoration: none;
    }
    .btn-link:hover {
        color: #fd6e72;
        transition: color .1s ease-out;
    }
    .card-body {
        font-size: 1.4vh;
        color: #fd6e72;
        padding: 1.2vh;
    }
}