.doc-menu-item-container {
    margin: 0 2vw 0 2vw;
    padding: 0 0;
    .btn-link {
        font-size: 1.6vh;
        font-weight: 400;
        color: #464646;
        text-align: start;
        text-decoration: none;
    }
    .btn-link:hover {
        color: #fd6e72;
        transition: color .1s ease-out;
    }
    .card-body {
        font-size: 1.4vh;
        color: #fd6e72;
        padding: 1.2vh;
    }
}


/**************************************************************************/

// @media (min-width: 992px) and (max-width: 1199px) {
//     .doc-menu-item-container {
//         margin: 0 1vw 0 3vw;
//     }
// }
// @media (min-width: 768px) and (max-width: 991px) {
//     .doc-menu-item-container {
//         margin: 0 4vw 0 6vw;
//     }
// }
// @media (max-width: 767px) {
//     .doc-menu-item-container {
//         margin: 0 4vw 0 6vw;
//     }
// }